<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ben0.leavemanagementsystem">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Barcode" />
        <activity android:name=".StudentActivity" />
        <activity android:name=".StaffActivity" />
        <activity android:name=".StudentLogin" />
        <activity android:name=".ProgressBar" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".StaffLogin" />
        <activity android:name=".StudentSignup" />
        <activity android:name=".StaffSignup" />
        <activity android:name=".LeaveApply" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <activity android:name=".StaffInbox" />
        <activity android:name=".StudentInbox" />
        <activity android:name=".HodActivity" />
        <activity android:name=".Statistics" />
        <activity android:name=".AcademicCalender" />
        <activity android:name=".Events" />
        <activity android:name=".Contacts" />
        <activity android:name=".Feedback" />
        <activity
            android:name=".EventsAdder"
            android:label="@string/title_activity_events_adder"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AddEvent"></activity>
    </application>

</manifest>